* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  align-items: center;
}

table {
  width: 500px;
}

td > #string {
  width: 100%;
}

label {
  font-weight: bold;
}

button {
  width: 70px;
}

.box {
  margin: 20px;
  border: 2px solid black;
  display: flex;
}
