* {
    box-sizing: border-box;
    /* width/height 설정 시 설정된 값이 
        content + padding + border 크기를
        합산한 결과가 되도록
        content 영역의 크기를 자동으로 조정
  */
}

.box {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

/* 테두리
  border 두께 스타일 색상
  -> 네방향 모두 적용
*/
.border {
    border: 10px solid black;
}

/* padding */
.padding {
    padding: 20px;
    /* content - border 사이에 20px 만큼 공간 생성 */
}

/* content(내용) */
.content {
    width: 150px;
    height: 150px;
    box-sizing: content-box;
}
/* id, name = 카멜 표기법
  class 외 나머지 = 하이픈
*/
.margin-1 {
    margin: 50px;
}
.margin-2 {
    margin: 100px;
}
