* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div,
header,
main,
footer,
section,
article {
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;

    /* 최소 높이 : 화면 높이 100% 
      -> 내부 요소가 화면 높이의 100%를 초과하면
        스크롤이 생성되며 늘어남

      -> 내부 요소가 화면 높이 100% 미만이면
        body 태그가 화면 높이 100%로 높이 유지
    */
    min-height: 100vh;
}

/* header */
header {
    height: 100px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
}
header > section {
    font-size: 64px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > .header-1,
.header-3 {
    width: 300px;
    flex-grow: 0;
}
header > .header-2 {
    flex-grow: 1;
}

/* main */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: row; /* 기본값 */
    align-items: stretch; /* 기본값 */
}
main > section {
    width: 50%;
}
.content-2 {
    display: flex;
    flex-direction: column;
}
.content-2 > article:first-child {
    height: 40%;
}
.content-2 > article:last-child {
    flex-grow: 1;
}

/* footer */
footer {
    height: 100px;
    flex-grow: 0;
}
