* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style-type: none;
}

.calculator {
  width: 300px;
  min-height: 150px;

  border: 3px solid black;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
}
.row {
  margin: 5px 0;
}

.btn-row {
  display: flex;
  justify-content: space-evenly;
}
.btn-row > button {
  width: 45px;
  font-size: 18px;
}
.btn2 > button {
  font-size: 12px;
  letter-spacing: -1px;
  width: 33%;
  margin: 0 3px;
}

#calcResult {
  color: red;
}
#calcResult2 {
  color: red;
}
