.big {
  width: 200px;
  height: 100px;
}

/* classList */
.container-3 {
  width: 400px;
  height: 100px;
  border: 2px solid #cccccc;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
.bg-red {
  background-color: red;
}
.bg-yellow {
  background-color: yellow;
}
.bg-green {
  background-color: green;
}

.test {
  background-color: greenyellow;
  border: 5px double steelblue;
  width: 300px;
  height: 150px;
}
